<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta property="og:title" content="Lets look new today" />
    <meta property="og:image" content="https://static.lookplex.com/images/1.2/forshare.jpg" />
    <meta property="og:description" content="@ LookPlex, we want to inspire people to express their beauty in every way, every day.
                                            Our company has been growing at a phenomenal rate, helping us to reach more people, and letting us partner with more salons,spas,gyms,artists than ever.
                                            It means we can give people more choice and confidence to try new things. Watchout for surprises in coming days.." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LookPlex - Spa, Salon, Gym, Makeup Artists, Slimming & Cosmetology, Dietitian, Tattoo, Piercing, Nail Art, Mehendi, Beauty Wellness Delhi NCR | Gurgaon | Noida</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/lookplex.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://static.lookplex.com/js/1.4/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js" ></script>
    <script src="js/lookplex.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src = "//plus.google.com/js/client:platform.js" async defer></script>

</head>

<body style="font-family: Lato">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N6FSQJ"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N6FSQJ');</script>
<!-- End Google Tag Manager -->
<div class="modal modal-fullscreen fade" id="modal-search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="height: 100%">
    <div class="modal-dialog" style="margin: 0;height: 100%;">
        <div class="modal-content" style="border-radius: 0;height: 100%;padding-bottom: 30px">
            <div class="modal-header grey-bg" style="background-color: #edefed;color: #565a5c">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <center><h4 class="modal-title" id="myModalLabel">Search</h4></center>
            </div>
            <div class="modal-body">
                <div id="location" class="form-group smfg" style="margin-bottom: 3px">
                    <i id="wait" class="fa fa-circle-o-notch fa-spin hidden" style="position:absolute; right: 15px"></i>
                    <i class="fa fa-map-marker pull-left"></i>
                    <input class="form-control location" id="ilocation" type="text" placeholder="Search by city, landmark or colony" autofocus></input>
                </div>
                <div class="list-group location-suggestion">
                </div>
                <div class="form-group smfg" style="margin-bottom: 3px">
                    <input class="form-control" id="catinput" type="text" placeholder="Select your service"></input>
                </div>
                <div class="list-group categories-list hidden" style="display: block;">
                    <div class="list-group-item" data-catid="1">Spa</div>
                    <div class="list-group-item" data-catid="2">Salon</div>
                    <div class="list-group-item" data-catid="3">Gym</div>
                    <div class="list-group-item" data-catid="8">Makeup Artists</div>
                    <div class="list-group-item" data-catid="6">Slimming &amp; Cosmetology</div>
                    <div class="list-group-item" data-catid="9">Dietitians &amp; Nutritionists</div>
                    <div class="list-group-item" data-catid="14">Tattoo &amp; Piercing</div>
                    <div class="list-group-item" data-catid="10">Yoga &amp; Aerobics</div>
                    <div class="list-group-item" data-catid="11">Nail Art</div>
                    <div class="list-group-item" data-catid="13">Mehendi</div>
                </div>
                <button class="btn btn-red form-control" id="search" style="height: 45px;margin-top: 15px"><b>Search</b></button>
            </div>
        </div>
    </div>
</div>
<div class="overlay">
    <div class="circle-outer fa-spin"></div>
</div>
<div class="header">
    <div class="navbar navbar-default" style="min-height: 50px;border: none;text-align: center;margin: 0">
        <div class="col-xs-2" style="padding:3% 6% 0 0"><i class="pull-right fa fa-bars fa-2x thmcolor"></i></div>
        <div class="col-xs-8" style="background: url('images/logo.png') center no-repeat;background-size: contain;min-height: 50px"></div>
        <div class="col-xs-2" style=""></div>
    </div>
</div>
<div class="full-container" style="margin-bottom: 10px">


</div>
<div class="footer" style="margin-top: 50px">

</div>
</body>
<script type="text/template" id="footer">
        <div>
            <ul class="footer-list">
                <li><a href="/aboutus" >About us</a> </li>
                <li><a href="" >Contact us</a> </li>
                <li><a href="" >Free Listing</a> </li>
                <li><a href="" >Advertise</a> </li>
                <li><a href="" >Privacy</a> </li>
                <li><a href="" >Terms of Service</a> </li>
            </ul>
        </div>
        <div class="clearfix fs" style="background-color: #000">
            <a href="https://facebook.com/LookPlex" class="fs-item"><i class="fa fa-facebook "></i> </a>
            <a href="https://twitter.com/lookplex" class="fs-item"><i class="fa fa-twitter "></i></a>
            <a href="" class="fs-item"><i class="fa fa-pinterest "></i></a>
            <a href="https://lookplex.com/#" class="fs-item"><i class="fa fa-instagram "></i></a>
            <a href="https://plus.google.com/104895346847255000908" class="fs-item"><i class="fa fa-google-plus "></i></a>
        </div>
        <span class="copyright">&copy; Lookplex.com</span>
</script>
<script type="text/template" id="home">
    <div class="jumbotron">
        <h2>Let's Look New Today</h2>
        <span style="color: #fff">Salon.Spa.Gym.Makeup Artists.Slimming.Dieticians.Yoga.Nail Art.Tattoo.Piercing.Mehendi</span>
        <div class="" style="margin: 0 20px 0 20px">
            <div class="form-group col-xs-12" id="search-bar" tabindex="-1" data-toggle="modal" data-target="#modal-search" style="padding: 0">
                <button class="btn pull-right" style="background-color: #ff6666;color: #fff;z-index: 2"><i class="fa fa-search "></i></button>
                <input type="search" id="ui" class="form-control" placeholder="Search grooming services near you">
            </div>
        </div>
    </div>
    <section class="col-b">
        <div class="header">
            <h4>&#9866;&nbsp; Hand Picked for You &nbsp;&#9866;</h4>
            We pioneer in art profession. You'll just love to get pampered by us.
        </div>
    </section>
    <section class="col-c">
        <div class="image-container" style="background: url('images/mobilepic/salon.jpg') center no-repeat;background-size: cover">
            <div class="gr-mask">
                <h4>Cut Above the Rest</h4>
            </div>
        </div>
        <h4>Salon</h4>
    </section>
    <section class="col-c">
        <div class="image-container" style="background: url('images/mobilepic/spa.jpg') center no-repeat;background-size: cover">
            <div class="gr-mask">
                <h4>Time waits here</h4>
            </div>
        </div>
        <h4>Spa</h4>
    </section>
    <section class="col-c">
        <div class="image-container" style="background: url('images/mobilepic/gym.jpg') center no-repeat;background-size: cover">
            <div class="gr-mask">
                <h4>Shape up. Build up</h4>
            </div>
        </div>
        <h4>Gym</h4>
    </section>
    <section class="col-c">
        <div class="image-container" style="background: url('images/mobilepic/ma.jpg') center no-repeat;background-size: cover">
            <div class="gr-mask">
                <h4>The Eye Candy</h4>
            </div>
        </div>
        <h4>Makeup Artist</h4>
    </section>
    <div id="tohide">
        <section class="col-c">
            <div class="image-container" style="background: url('images/mobilepic/nail.jpg') center no-repeat;background-size: cover">
                <div class="gr-mask">
                    <h4>Cult in the making</h4>
                </div>
            </div>
            <h4>Nail Art</h4>
        </section>
        <section class="col-c">
            <div class="image-container" style="background: url('images/mobilepic/fa.jpg') center no-repeat;background-size: cover">
                <div class="gr-mask">
                    <h4>Your look has come</h4>
                </div>
            </div>
            <h4>Slimming & Cosmetology</h4>
        </section>
        <section class="col-c">
            <div class="image-container" style="background: url('images/mobilepic/dietician.jpg') center no-repeat;background-size: cover">
                <div class="gr-mask">
                    <h4>Eat Right Look Bright</h4>
                </div>
            </div>
            <h4>Dieticians & Nutritionists</h4>
        </section>
        <section class="col-c">
            <div class="image-container" style="background: url('images/mobilepic/tattoo.jpg') center no-repeat;background-size: cover">
                <div class="gr-mask">
                    <h4>Art the body</h4>
                </div>
            </div>
            <h4>Tattoo & Piercing</h4>
        </section>
        <section class="col-c">
            <div class="image-container" style="background: url('images/mobilepic/yoga.jpg') center no-repeat;background-size: cover">
                <div class="gr-mask">
                    <h4>Fitness with peace</h4>
                </div>
            </div>
            <h4>Yoga & Aerobics</h4>
        </section>
        <section class="col-c">
            <div class="image-container" style="background: url('images/mobilepic/me.jpg') center no-repeat;background-size: cover">
                <div class="gr-mask">
                    <h4>The classy traditional</h4>
                </div>
            </div>
            <h4>Mehendi</h4>
        </section>
    </div>
    <div style="text-align: center">
        <button id="moreservice" type="button" class="btn default-btn">See More</button>
    </div>


    <section class="col-b" id="popular">
        <div class="header">
            <h4>&#9866;&nbsp; Popular in Town &nbsp;&#9866;</h4>
        </div>
        <div class="body">
            A collection of establishments offering world class services in your neighbourhood
        </div>
    </section>
    <section class="col-c" style="margin:10px 0 0 0">
        <div class="image-container" style="background: url('images/mobilepic/ed.jpg') center no-repeat;background-size: cover">
            <div class="mask">
                <h4>East Delhi</h4>
            </div>
        </div>
    </section>
    <section class="col-c" style="margin:10px 0 0 0">
        <div class="image-container" style="background: url('images/mobilepic/wd.jpg') center no-repeat;background-size: cover">
            <div class="mask">
                <h4>West Delhi</h4>
            </div>
        </div>
    </section>
    <section class="col-c" style="margin:10px 0 0 0">
        <div class="image-container" style="background: url('images/mobilepic/nd.jpg') center no-repeat;background-size: cover">
            <div class="mask">
                <h4>North Delhi</h4>
            </div>
        </div>
    </section>
    <section class="col-c" style="margin:10px 0 0 0">
        <div class="image-container" style="background: url('images/mobilepic/sd.jpg') center no-repeat;background-size: cover">
            <div class="mask">
                <h4>South Delhi</h4>
            </div>
        </div>
    </section>
    <div id="tohidecity">
        <section class="col-c" style="margin:10px 0 0 0">
            <div class="image-container" style="background: url('images/mobilepic/cd.jpg') center no-repeat;background-size: cover">
                <div class="mask">
                    <h4>Central Delhi</h4>
                </div>
            </div>
        </section>
        <section class="col-c" style="margin:10px 0 0 0">
            <div class="image-container" style="background: url('images/mobilepic/noi.jpg') center no-repeat;background-size: cover">
                <div class="mask">
                    <h4>Noida</h4>
                </div>
            </div>
        </section>
        <section class="col-c" style="margin:10px 0 0 0">
            <div class="image-container" style="background: url('images/mobilepic/gg.jpg') center no-repeat;background-size: cover">
                <div class="mask">
                    <h4>Gurgaon</h4>
                </div>
            </div>
        </section>
        <section class="col-c" style="margin:10px 0 0 0">
            <div class="image-container" style="background: url('images/mobilepic/fb.jpg') center no-repeat;background-size: cover">
                <div class="mask">
                    <h4>Faridabad</h4>
                </div>
            </div>
        </section>
        <section class="col-c" style="margin:10px 0 30px 0">
            <div class="image-container" style="background: url('images/mobilepic/gb.jpg') center no-repeat;background-size: cover">
                <div class="mask">
                    <h4>Ghaziabad</h4>
                </div>
            </div>
        </section>
    </div>
    <div style="text-align: center;margin-top: 40px">
        <button id="morecity" type="button" class="btn default-btn">See More</button>
    </div>
</script>
<script type="text/template" id="header">
    <div class="navbar navbar-default" style="min-height: 45px;border: none;text-align: center;margin: 0">
        <div class="col-xs-2" style="padding:5% 6% 0 0"><i class="pull-right fa fa-bars fa-2x thmcolor"></i></div>
        <div class="form-group col-xs-8" id="search-bar" tabindex="-1" data-toggle="modal" data-target="#modal-search" style="padding: 0;margin-bottom: 12px">
            <button class="btn pull-right" style="background-color: #ff6666;color: #fff;z-index: 2;margin-top: 10px"><i class="fa fa-search"></i></button>
            <input type="search" id="ui" class="form-control" placeholder="Search grooming services" style="margin-top: 10px">
        </div>
        <div class="col-xs-2" style="padding:3% 0 0 0;text-align: center">
            <div class="btn btn-round"><i class="fa fa-filter fa-2x thmcolor"></i></div>
        </div>
    </div>
</script>
<script type="text/template" id="searchtemplate">
    <center>
        <div class="sub-filter" style="height: 52px">
            <div class="col-xs-12 filter-slider-new" style="opacity: 0.6"><center>
                    <span class="slider-min-content-new">
                    <input class="f-menu visuallyhidden" id="salon1" type="radio" name="etype0" value="salon-2,4,5" <% if($qo.catid=="2,4,5"){ %> checked="checked" <%}%> ><label for="salon1" class="links" style="font-size: 13px">Salon</label>
                    <input class="f-menu visuallyhidden" id="spa1" type="radio" name="etype0" value="spa-1" <% if($qo.catid=="1"){ %> checked="checked" <%}%> ><label for="spa1" class="links" style="font-size: 13px;">Spa</label>
                    <input class="f-menu visuallyhidden" id="gym1" type="radio" name="etype0" value="gym-3" <% if($qo.catid=="3"){ %> checked="checked" <%}%> ><label for="gym1" class="links" style="font-size: 13px">Gym</label>
                    <input class="f-menu visuallyhidden" id="makeupartists1" type="radio" name="etype0" value="makeup artists-8" <% if($qo.catid=="8"){ %> checked="checked" <%}%> ><label for="makeupartists1" class="links" style="font-size: 13px">Makeup Artists</label>
                    <input class="f-menu visuallyhidden" id="slimminandcosmetology1" type="radio" name="etype0" value="slimming & cosmetology-6,7" <% if($qo.catid=="6,7"){ %> checked="checked" <%}%> ><label for="slimminandcosmetology1" class="links" style="font-size: 13px">Slimming & Cosmetology</label>
                    <input class="f-menu visuallyhidden" id="dietician1" type="radio" name="etype0" value="dieticians & nutritionists-9" <% if($qo.catid=="9"){ %> checked="checked" <%}%> ><label for="dietician1" class="links" style="font-size: 13px">Dieticians & Nutritionists</label>
                    <input class="f-menu visuallyhidden" id="tatto1" type="radio" name="etype0" value="tattoo & piercing-12,14" <% if($qo.catid=="12,14"){ %> checked="checked" <%}%> ><label for="tatto1" class="links" style="font-size: 13px">Tattoo & Piercing</label>
                    <input class="f-menu visuallyhidden" id="yoga1" type="radio" name="etype0" value="yoga & aerobics-10" <% if($qo.catid=="10"){ %> checked="checked" <%}%> ><label for="yoga1" class="links" style="font-size: 13px">Yoga & Aerobics</label>
                    <input class="f-menu visuallyhidden" id="nail1" type="radio" name="etype0" value="nail art-11" <% if($qo.catid=="11"){ %> checked="checked" <%}%> ><label for="nail1" class="links" style="font-size: 13px">Nail Art</label>
                    <input class="f-menu visuallyhidden" id="mehendi1" type="radio" name="etype0" value="mehendi-13" <% if($qo.catid=="13"){ %> checked="checked" <%}%> ><label for="mehendi1" class="links" style="font-size: 13px">Mehendi</label>
                    </span></center>
            </div>
        </div>
    </center>
    <div class="col-xs-12" style="padding:3px">
        <div class="search-result">
        </div>
    </div>
</script>
<script type="text/template" id="result-item">
    <% _.each(stores.get('storeList'), function(store){ %>
    <div class="col-xs-12" style="padding: 0 3px 0 3px;margin-top: 15px">
        <div class="col-xs-12" style="min-height: 200px;padding:0;background-color: #fff;border-bottom: 1px solid #e0e0e0;">
            <a class="sponsor" href="#/stores/profile/<%= $qo.blockname%>-<%= $qo.blockguid%>&<%= $qo.catname %>-<%=$qo.catid %>&<%=store.storename%>-<%=store.id %>-<%=store.guid %>">
                <div class="sponsored-grid"  style="min-height: 155px;margin: 0;padding: 0;border-radius: 2px 2px 0px 0px ;background: url('<%=store.coverUrl%>') center;background-size: cover">
                    <div class="gr-mask" style="height: 170px;width: 100%;border-radius: 2px 2px 0px 0px">
                        <div class="col-xs-12" style="height:74px;">
                                    <span class="pull-right" style=" width: 30px">
                                        <i class="fa fa-heart" data-toggle="tooltip" title="Bookmark this" style="margin-top: 7px;margin-left: 10px; color: #fafafa; opacity: .6;font-size: 15px" title="Favourite"></i>
                                    </span>
                        </div>
                        <!--<div class="col-md-12" style="height:44px;padding-left: 0px;padding-right: 0px;">-->
                        <div class="col-xs-12" style="height:27px;padding-left: 5px;padding-right: 0px;">
                            <div class="col-xs-12" style="margin-top: 2px;padding-left: 0;">
                                <div style="color: #fafafa; font-size: 13px;max-width: 900px;overflow: hidden;text-overflow: ellipsis">
                                    <div style="font-weight: bolder;height: 16px;overflow: hidden;text-overflow: ellipsis;margin-bottom: 10px"><%=store.storename%></div>
                                    <div class="item-aminities">
                                        <% _.each(store.attributeList.split(","),function(amin){%>
                                        <% if(amin=="fw") { %><i class="fa fa-female"></i><% } %>
                                        <% if(amin=="fm") { %><i class="fa fa-male"></i><% } %>
                                        <% if(amin=="ac") { %><i class="fa fa-asterisk"></i><% } %>
                                        <% if(amin=="ca") { %><i class="fa fa-credit-card"></i><% } %>
                                        <% if(amin=="wi") { %><i class="fa fa-wifi"></i><% } %>
                                        <% if(amin=="xx") { %><i class="fa fa-slack"></i><% } %>
                                        <% if(amin=="pa") { %><i class="fa fa-car"></i><% } %>
                                        <%}) %>
                                    </div>
                                    <div class="sponsored-grid" style="min-height: 15px;margin: 0;padding-left: 0">
                                        <p class="item-address" style="width:100%;color: #fff;font-size: 12px">
                                            <%=rcp(store.categoryList)%>
                                        </p>
                                    </div>
                                    <div style="font-weight: lighter; font-size: 10px;height: 14px;overflow: hidden;margin-bottom: 10px"><%=store.address%></div>

                                </div>
                            </div>
                            <div class="col-xs-2" style="height: 100%; position: relative;margin-top: 0">
                                <!--<div class="item-rating pull-right" style="height: 20px;width: 25px;color: #ffffff;font-size: 12px;font-weight: bolder;font-family: Lato;text-align: center;line-height: 20px"><%if(store.drating!=null){ %><%= store.drating %><%} else{%>5<%}%></div>-->
                            </div>
                        </div>
                        <!--</div>-->
                    </div>
                </div>
            </a>

            <div class="item-menu" style="color: #000;height: 55px;padding-left: 5px;text-align: center" data-value="<%=store.id%>-<%=store.guid%>">
                <div id="ratecardsdrop"><a>Rate Card</a></div>
                <div id="photosdrop"><a>Photos</a></div>
                <div id="reviewsdrop"><a>Reviews</a></div>
                <div id="trustsdrop"><a>Trust</a></div>
                <div id="phone" style="background-color: #ff6666;padding: 5px 10px 5px 10px;border: 1px solid #ff6666"><a><i style="color: #fff" class="fa fa-phone"></i></a></div>
            </div>
        </div>
    </div>
    <%})%>
    <%if($qo.numberofpages>1){%>
    <div style="text-align: center;padding-top: 40px">
        <button id="morestore" type="button" class="btn default-btn">Load More</button>
    </div>
    <%}%>
</script>
<script type="text/template" id="parlor-profile-template">
<div class="container-fluid">
    <!--TODO Add updated coverurl from api returned...-->
    <div class="parlor-screen" style="background:<% if(data.coverUrl!="" && data.coverUrl!=null ){%>  url(<%= data.coverUrl%>) center; background-repeat:no-repeat; background-size: cover; <%} else{%> #5C5858; <%}%>">
    <div class="">
        <div class="">
            <div class="">
                <div class="" style="height: 200px">
                    <div id="storename" class="" style="padding-left: 0px;">
                        <div class=" pull-left"><%= data.storename %></div>
                        <div class="item-rating col-md-1 pull-right"><%if(data.totalRatingScore!=null && data.totalRatingScore!=0){ %><%= data.totalRatingScore %><%} else{%>-<%}%></div>
                    </div>
                    <div class="pull-left col-md-12" style="margin: 0px;height: 30px;font-size: 17px">
                        <% $.each(data.attributeList.split(","),function(index,amin){%>
                        <% if(amin=="fw") { %><span style="margin-right: 10px"><i class="fa fa-female"  data-toggle="tooltip" data-placement="left" title="Female"></i></span><% } %>
                        <% if(amin=="fm") { %><span style="margin-right: 10px"><i class="fa fa-male" data-toggle="tooltip" data-placement="left" title="Male"></i></span><% } %>
                        <% if(amin=="ac") { %><span style="margin-right: 10px"><i class="fa fa-asterisk" data-toggle="tooltip" data-placement="left" title="Air Contioned"></i></span><% } %>
                        <% if(amin=="ca") { %><span style="margin-right: 10px"><i class="fa fa-credit-card" data-toggle="tooltip" data-placement="left" title="Accept Credit/Debit Card"></i></span><% } %>
                        <% if(amin=="wi") { %><span style="margin-right: 10px"><i class="fa fa-wifi" data-toggle="tooltip" data-placement="left" title="Wifi Enabled"></i></span><% } %>
                        <% if(amin=="xx") { %><span style="margin-right: 10px"><i class="fa fa-slack" data-toggle="tooltip" data-placement="left" title="Pets Allowed"></i></span><% } %>
                        <% if(amin=="pa") { %><span style="margin-right: 10px"><i class="fa fa-car" data-toggle="tooltip" data-placement="left" title="Parking Available"></i></span><% } %>
                        <%}) %>
                    </div>
                </div>
            </div>
            <div class="screen-menus col-md-12">
                <div class="screen-menu-rate" id="rate-rev-top"><i class="fa fa-star-o"></i><h5>Rate & Review</h5></div>
                <div class="screen-menu-bookmark"  id="favourite"><i class="fa fa-bookmark"></i><h5>Favourite</h5></div>
                <div class="screen-menu-checkin"  id="checkin"><i class="fa fa-check"></i><h5>Check In</h5></div>

                <div class="screen-menu-checkin shareicons" style="margin: 2px 0 0 5px;padding: 0 10px 0 8px;max-height: 40px">
                    <div id="share" class="screen-menu-checkin" style="margin-right: 0px;display: inline-block"><i class="fa fa-share"></i><h5 style="display: inline-block;margin-left: 5px">Share</h5></div>
                    <a class="shareit fb hidden" href="http://www.facebook.com/sharer/sharer.php?u=http://snip.ly/PZJD" title="Share on Facebook"
                       target="_blank" class="btn btn-facebook" onclick="return !window.open(this.href, 'Google', 'width=500,height=500')"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
                    <a class="shareit hidden" href="http://twitter.com/?status=Look at this cool listing at Lookplex?u=http://www.lookplex.com/#/stores/services/gurgaon-WERTHUKUND-1740-salon-2,4,5"
                       title="Share on Twitter" target="_blank" class="btn btn-twitter" onclick="return !window.open(this.href, 'Google', 'width=500,height=500')"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
                    <a class="shareit gpl hidden" href="https://plus.google.com/share?url=http://www.lookplex.com/#/stores/services/gurgaon-WERTHUKUND-1740-salon-2,4,5" title="Share on Google+"
                       target="_blank" class="btn btn-googleplus" onclick="return !window.open(this.href, 'Google', 'width=500,height=500')"><i class="fa fa-google-plus fa-fw"></i> Google+</a>
                    <a class="shareit pnt hidden" href="https://plus.google.com/share?url=http://www.lookplex.com/#/stores/services/gurgaon-WERTHUKUND-1740-salon-2,4,5" title="Share on Pinterest"
                       target="_blank" class="btn btn-googleplus" onclick="return !window.open(this.href, 'Google', 'width=500,height=500')"><i class="fa fa-pinterest-p fa-fw"></i> Pinterest</a>
                    <a class="shareit hidden" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.lookplex.com/#/stores/services/gurgaon-WERTHUKUND-1740-salon-2,4,5&amp;title=Look at this cool collection of services;source=Brandon Himpfen" title="Share on LinkedIn"
                       target="_blank" class="btn btn-linkedin" onclick="return !window.open(this.href, 'Google', 'width=500,height=500')"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
                    <a class="shareit hidden" href="mailto:?subject=LookPlex | Hey Check out this awesome Listing on Lookplex.&amp;body=How-to%20Colour%20and%20Size%20Facebook%20Like%20Buttons:https://www.lookplex.com//"
                       title="Share by Email" target="_blank" class="btn btn-email" style="padding-right: 18px"><i class="fa fa-envelope fa-fw"></i> Email</a>
                </div>

            </div>


        </div>
    </div>
</div>
<div style="height: 200px;background-color: #fff;margin-top: -40px;border-bottom: 1px solid #dce0e0;margin-bottom: 5px">
    <div class="" style="opacity:0.5;height: 40px;color: #82888a"></div>
    <div class="wrapper">
        <div class="col-md-9" style="color: #82888a;font-size: 20px;margin-top: 12px;height: 150px">
            <div class="col-md-12" style="font-weight: 100">
                <div class="col-md-12" style="padding: 0"><%= data.address %> <span id="gomap" style="font-size: 10px;margin-left: 8px;color: crimson"><span class="glyphicon glyphicon-map-marker" style="font-size: 15px"></span> View on map </div>

            </div>
            <div class="col-md-12" style="margin-top: 10px;font-size: 15px;color: #000"><i class="fa fa-phone"></i> &nbsp;<%= data.phone %></div>
            <div class="col-md-12" style="padding: 0">
                <div class="col-md-4">
                    <% var date = new Date()
                    var notification = '';
                    switch(date.getDay()){
                    case 1 :
                    notification = data.mondayTiming;
                    break;
                    case 2 :
                    notification = data.tuesdayTiming;
                    break;
                    case 3 :
                    notification = data.wednesdayTiming;
                    break;
                    case 4 :
                    notification = data.thursdayTiming;
                    break;
                    case 5 :
                    notification = data.fridayTiming;
                    break;
                    case 6 :
                    notification = data.saturdayTiming;
                    break;
                    default :
                    notification = data.sundayTiming;
                    }
                    notification = notifications(notification);
                    %>
                    <button type="submit" id="timing" class="btn btn-large btn-block btn-primary" title="Book before store closes" style="background-image: none;font-weight: bolder;margin-top: 38px;width:292px"><span><%=notification%></span></button>
                </div>
            </div>
        </div>

        <!--<div class="col-md-6"></div>-->
        <div class="col-md-3" style="min-height: 150px;padding: 0;">
            <div class="col-md-12" style="padding:0;height: 40px;font-size: 20px;color: #fff;text-align: center;opacity: 0.7;background-color: #000;padding-top: 3px;margin-top: -40px;border: 1px solid #000">Booking Cart</div>
            <div class="col-md-12" style="min-height: 159px;font-size:15px;padding: 7px 10px 7px 10px;border: 1px solid #dce0e0;color: #82888a">
                <div class="col-md-10">Selected services</div>
                <div class="col-md-2" style="text-align: center">0</div>
                <div class="col-md-12" style="margin-top: 10px">
                    <!--<input data-provide="datepicker" class="datepicker">-->
                </div>
                <button type="submit" class="btn btn-large btn-block btn-primary" style="background-image: none;margin-top: 100px;font-weight: bolder;font-size: 16px"><span>Request to Book</span></button>
            </div>

        </div>
    </div>
</div>
<div class="wrapper" style="margin-top: 5px;color: #565a5c;font-size: 14px">
    <div class="col-md-9">
        <div class="col-md-11">
            <div style="font-size: 17px;margin-top: 30px;font-weight: bold">About this listing</div>
            <div style="margin-top: 15px">A unique holiday experience in the tranquil seaside community of Trinity Beach. Only steps from beautiful beaches and pool at your front door.</div>
        </div>
    </div>
    <div class="col-md-9" style="margin-top: 20px">
        <div class="col-md-11" style="padding: 15px 0 15px 0;border-top: 0.5px solid #dce0e0">
            <div class="col-md-4" style="color: #82888a">Establishment Type</div>
            <div class="col-md-8" style="padding: 0"><%= rcp(data.categoryList)%></div>
        </div>
        <div class="col-md-11" style="padding: 15px 0 15px 0;border-top: 0.5px solid #dce0e0">
            <div class="col-md-4" style="color: #82888a">Services Offered</div>
            <div class="col-md-8" style="padding: 0">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a id="salonia" href="#saloni">Salon</a></li>
                    <li><a id="pba" href="#pb">Party & Bridal Makeup</a></li>
                    <li><a id="naa" href="#na">Nail Art</a></li>
                </ul>
                <div class="tab-content">
                    <div id="saloni" class="tab-pane fade in active">
                        <div style="max-height: 30px">Loading...<img class="pull-right" height="20px" width="20px" src="img/loading.gif"></div>
                    </div>
                    <div id="pb" class="tab-pane fade">
                        <div style="max-height: 30px">Loading...<img class="pull-right" height="20px" width="20px" src="img/loading.gif"></div>
                    </div>
                    <div id="na" class="tab-pane fade">
                        <div style="max-height: 30px">Loading...<img class="pull-right" height="20px" width="20px" src="img/loading.gif"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-11" style="padding: 15px 0 15px 0;border-top: 0.5px solid #dce0e0">
            <div class="col-md-4" style="color: #82888a">Amenities</div>
            <div class="col-md-8" style="padding: 0">
                <% var amin = data.attributeList; %>
                <div class="col-md-6" style="padding: 0"><span class="opening-day" style="min-width: 100px"><% if(amin.indexOf("fm")>-1 && amin.indexOf("fw")>-1 ) { %><i class="fa fa-check-circle fa-lg" style="padding-right: 4px;color: #4fc31c" data-toggle="tooltip" data-placement="left" title="Unisex"></i><% }else{ %><i class="fa fa-times-circle fa-lg" style="padding-right: 4px; color: #cb202d" data-toggle="tooltip" data-placement="left" title="Unisex"></i> <% } %>Unisex</span> </div>
                <div class="col-md-6" style="padding: 0"><span class="opening-day"><% if(amin.indexOf("ac")>-1) { %><i class="fa fa-check-circle fa-lg" style="padding-right: 4px; color: #4fc31c" data-toggle="tooltip" data-placement="left" title="Air Contioner"></i><% }else{ %><i class="fa fa-times-circle fa-lg" style="padding-right: 4px; color: #cb202d" data-toggle="tooltip" data-placement="left" title="ac"></i> <% } %>Air - Conditioned</span> </div>
                <div class="col-md-6" style="padding: 0"><span class="opening-day"><% if(amin.indexOf("pa")>-1) { %><i class="fa fa-check-circle fa-lg" style="padding-right: 4px; color:#4fc31c" data-toggle="tooltip" data-placement="left" title="Car Parking"></i><% }else{ %><i class="fa fa-times-circle fa-lg" style="padding-right: 4px; color: #cb202d" data-toggle="tooltip" data-placement="left" title="parking"></i> <% } %>Parking Available</span> </div>
                <div class="col-md-6" style="padding: 0"><span class="opening-day"><% if(amin.indexOf("wi")>-1) { %><i class="fa fa-check-circle fa-lg" style="padding-right: 4px; color: #4fc31c" data-toggle="tooltip" data-placement="left" title="Wifi"></i><% }else{ %><i class="fa fa-times-circle fa-lg" style="padding-right: 4px; color: #cb202d" data-toggle="tooltip" data-placement="left" title="wifi"></i> <% } %>Wi-fi Enabled</span> </div>
                <div class="col-md-6" style="padding: 0"><span class="opening-day"><% if(amin.indexOf("ca")>-1) { %><i class="fa fa-check-circle fa-lg" style="padding-right: 4px; color: #4fc31c" data-toggle="tooltip" data-placement="left" title="Credit/Debit Card"></i><% }else{ %><i class="fa fa-times-circle fa-lg" style="padding-right: 4px; color: #cb202d" data-toggle="tooltip" data-placement="left" title="cards"></i> <% } %>Accepts Credit/Debit Cards</span> </div>
                <div class="col-md-6" style="padding: 0"><span class="opening-day" style="min-width: 100px"><% if(amin.indexOf("xx")>-1) { %><i class="fa fa-check-circle fa-lg" style="padding-right: 4px; color: #4fc31c" data-toggle="tooltip" data-placement="left" title="Pets Allowed"></i><% }else{ %><i class="fa fa-times-circle fa-lg" style="padding-right: 4px; color: #cb202d;" data-toggle="tooltip" data-placement="left" title="pets"></i> <% } %>Pets Allowed</span> </div>

            </div>
        </div>
        <div class="col-md-11" style="padding: 15px 0 15px 0;border-top: 0.5px solid #dce0e0">
            <div class="col-md-4" style="color: #82888a">Opening Hours</div>
            <div class="col-md-8" style="padding: 0">
                <div class="col-md-6" style="padding: 0"><span class="opening-day" style="width:90px;color: #000;font-weight: bolder">Monday</span>  <span class="opening-day" style="min-width: 100px"><%= rt(data.mondayTiming) %></span></div>
                <div class="col-md-6" style="padding: 0"><span class="opening-day" style="width:90px;color: #000;font-weight: bolder">Tuesday</span>  <span class="opening-day" style="min-width: 100px"><%= rt(data.tuesdayTiming) %></span></div>
                <div class="col-md-6" style="padding: 0"><span class="opening-day" style="width:90px;color: #000;font-weight: bolder">Wednesday</span>  <span class="opening-day" style="min-width: 100px"><%= rt(data.wednesdayTiming) %></span></div>
                <div class="col-md-6" style="padding: 0"><span class="opening-day" style="width:90px;color: #000;font-weight: bolder">Thursday</span>  <span class="opening-day" style="min-width: 100px"><%= rt(data.thursdayTiming) %></span></div>
                <div class="col-md-6" style="padding: 0"><span class="opening-day" style="width:90px;color: #000;font-weight: bolder">Friday</span>  <span class="opening-day" style="min-width: 100px"><%= rt(data.fridayTiming) %></span></div>
                <div class="col-md-6" style="padding: 0"><span class="opening-day" style="width:90px;color: #000;font-weight: bolder">Saturday</span>  <span class="opening-day" style="min-width: 100px"><%= rt(data.saturdayTiming) %></span></div>
                <div class="col-md-6" style="padding: 0"><span class="opening-day" style="width:90px;color: #000;font-weight: bolder">Sunday</span>  <span class="opening-day" style="min-width: 100px"><%= rt(data.sundayTiming) %></span></div>
            </div>
        </div>
        <div class="col-md-11" id="rate-card-pan" style="padding: 15px 0 15px 0;border-top: 0.5px solid #dce0e0">
            <div class="col-md-4" style="color: #82888a">Rate Cards</div>
            <div class="col-md-8" style="padding: 0">
                <div class="col-md-12 rate-card" id="rate-card" style="padding: 0"></div>
            </div>
        </div>
        <div class="col-md-11" id="store-photo-pan" style="padding: 15px 0 15px 0;border-top: 0.5px solid #dce0e0">
            <div class="col-md-4" style="color: #82888a">Store Photos</div>
            <div class="col-md-8" style="padding: 0">
                <div class="col-md-12 rate-card" id="store-photo" style="padding: 0"></div>
            </div>
        </div>
        <!--<div class="col-md-11" style="padding: 15px 0 15px 0;border-top: 0.5px solid #dce0e0">

        </div>-->
    </div>
</div>
<div class="col-md-12" style="min-height: 460px;width: 100%;background-color: #fff;margin-top: 35px;margin-bottom:25px;border: 1px solid #dce0e0;color: #565a5c;padding: 10px 0 50px 0">
    <div class="wrapper">
        <div class="col-md-12 rate-card" id="store-reviews">

        </div>
        <div class="col-md-12" style="text-align: center;margin-top: 30px">
            <h4 style="font-weight: bolder;color: #565a5c;margin: 0">
                <div id="rateus" class="rating">
                    <span id="star5" class="star" data-value="5" data-toggle="tooltip" data-placement="bottom" title="Awesome"></span>
                    <span id="star4" class="star" data-value="4" data-toggle="tooltip" data-placement="bottom" title="Excellent"></span>
                    <span id="star3" class="star" data-value="3" data-toggle="tooltip" data-placement="bottom" title="Good"></span>
                    <span id="star2" class="star" data-value="2" data-toggle="tooltip" data-placement="bottom" title="Average"></span>
                    <span id="star1" class="star" data-value="1" data-toggle="tooltip" data-placement="bottom" title="Poor"></span>
                </div>
            </h4>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6" style="padding: 0;color: #82888a">
            <div class="user-comment form-group" style="margin-bottom: 2px;padding-bottom: 3px;padding: 0">
                <h5 style="color: #000">Write Review</h5>
                <textarea id="comment" class="form-control" rows="5" maxlength="300" placeholder="Minimum 100 and maximum 300 characters are allowed"></textarea>
            </div>
            <div id="reviewerror"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4" style="padding-left: 30px;margin-top: 10px"><button class="btn btn-block btn-primary" id="publish" style="background-image: none;font-weight: bolder">Publish</button></div>
            <div class="col-md-4 tips" style="font-size: 11px">
                <a class="tooltiprev" data-placement="bottom" data-toggle="tooltip" title="Writing great reviews may help others discover the places that are just apt for them. People will pay attention when you write thoughtful reviews.Keep them readable and choose the right length a paragraph is great. Your opinion matters, so go ahead and add in your thoughts!
                                                     Be specific and relevant to the place you're reviewing and describe what other visitors are likely to experience.Be authentic and describe why you liked or disliked the place.Include aspects like the ambience, service quality, value for money, credibility of the vendor, etc. to add value to your opinions.">Tip for writing great review
                </a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>
<div class="wrapper" style="margin-top: 5px;color: #565a5c;font-size: 14px">
    <div class="col-md-9" style="margin-top: 20px">
        <div class="col-md-11" style="padding: 15px 0 15px 0;border-top: 0.5px solid #dce0e0">
            <div class="col-md-4" style="color: #82888a">Trust</div>
            <div class="col-md-8" style="padding: 0">
                <div class="col-md-12 rate-card" id="trust" style="padding: 0"></div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper" style="margin-top: 50px">
    <div class="col-md-12">
        <div class="item-location-map" id="googleMap" style="width: 100%;height: 550px"></div>
    </div>
</div>
</script>

<script src="js/lookplexBackbone.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src='//maps.googleapis.com/maps/api/js?key=AIzaSyBkRzmfedoJ2knAFsyxdhH5AuW41ljbu6E&sensor=false'></script>
</html>
