<div class="screen" id="advertise" style="color: #ffffff">
    <div style="font-size: 56px">
    <div class="col-md-12" style="height:150px;font-weight: bolder"></div>
    <div class="col-md-3"></div><div class="col-md-9" ><h1 style="font-weight: bolder;font-size: 56px">Your Service</h1></div>
    <div class="col-md-3"></div><div><h1 style="margin-top: 5px;padding-left: 50px;font-weight: bolder;font-size: 56px"><div class="col-md-1" style="height: 40px; text-align: center;font-size: 56px">+</div><div class="col-md-1"></div> = &nbsp;&nbsp;&nbsp;More Satisfied Customers.</h1></div>
    <div class="col-md-3"></div><div class="col-md-9"><h1 style="margin-top: 5px;font-weight: bolder;font-size: 56px"> LookPlex </h1></div>
    </div>
<div class="wrapper ">



</div>

</div>
<div class="wrapper clearfix">
<div class="col-md-12" style="color: #000000;text-align: center">
	<br><br>
    <h2 >Zoom Your Business. Be Grand.</h2>
    <br>
    LookPlex is a leading online platform offering high-impact marketing for Salon, Spa, Gym, Makeup Artists,<br> Cosmetologists, Dieticians, Yoga Studios, Tattoo Artists and many more.
    <br><br>If you like to know how advertising on LookPlex helps, let’s get to know each other.<br> All we need is a little information.

    <br><br>

<form>
<div class="col-md-12"><p style="color: #000000; text-align: left"><br><br>
    Please fill the form below so that we can contact you.</p></div>
<div class="form-group col-md-4">

<input class="form-control" type="text" placeholder="Full Name*">
</div>
<div class="form-group col-md-4">
<input class="form-control" type="email" placeholder="Email*">
</div>
<div class="form-group col-md-4">
<input class="form-control" type="tel" placeholder="Phone number*">
</div>
<div class="form-group col-md-4">
<input class="form-control" type="text" placeholder="Name Of Your Business*">
</div>
<div class="form-group col-md-4">
    <input class="form-control" type="text" placeholder="Service Category*">
</div>
<div class="form-group col-md-4">
<input class="form-control" type="text" placeholder="Location*">
</div>
<small>*Denotes mandatory fields.</small>
<br><div class="col-md-12" style="text-align: center;margin-bottom: 50px"><input class="btn" style="width: 200px;background-color: #724c98;color: #ffffff" type="submit" value="Get a Call"></div>


</form>
</div>
<div class="col-md-12">
<h3 style="text-align: center;color: #000000">Don’t have time to enter the details?</h3>
</div>
<div class="col-md-12">
<p style="text-align: center;color: #000000">Call us @ +91-8826755766, or write us a mail at <u style="color: purple">advertise@lookplex.com</u></p>
</div>

</div>

