<div class="screen" id="careers">

<div class="wrapper ">

<h1 style="font-weight: bolder; text-align: center; padding-top: 150px;font-size: 56px">Grow with LookPlex, Join the Bandwagon</h1>

</div>

</div>
<div class="wrapper clearfix">
<div class="col-md-12" style="text-align: center;color: #848484">

    <h2>ONE TEAM: BE A PART OF OUR STORY</h2>

    <p>
        We are always in search of people who have a vision similar to that of ours and want to<br>
        join us on our mission of making everything beautiful. Mind. Body. Soul.<br><br>

        Apply for the open positions to be a part of our story. Don’t find a suitable role for<br>
        yourself? We can still get to know each other and find if we can create a role for a<br>
        beautiful mind like yours. Write to us at <u>careers@lookplex.com</u>
    </p>
</div>
<div class="col-md-8 contact-form" style="margin-top: 50px">
<h3>Open Positions in New Delhi NCR</h3>
<table class="table table-bordered panel table-hover">
<thead><th>Position</th><th>Qualifications</th><th>Years Of Experience</th></thead>
<tr><td>Marketing Executive</td><td>Graduate</td><td>1-2 yrs.</td></tr>
<tr><td>Area Sals Manager</td><td>MBA or equivalent</td><td>2-4 yrs.</td></tr>
<tr><td>Relationship Manager</td><td>Graduate</td><td>1-2 yrs.</td></tr>
<tr><td>Customer Support Executive</td><td>Graduate</td><td>1-2 yrs.</td></tr>
</table>

</div>
<div class="col-md-4 bussiness-enquiry" style="margin-top: 50px">
<h3>Applying for a position</h3>
<form>

<div class="form-group">
<select class="form-control" type="text">
<option value="">Marketing Executive</option>
<option value="">Area Sales Manager</option>
<option value="">Relationship Manager</option>
<option value="">Customer Support Executive</option>
</select>
</div>
<div class="form-group">
<input class="form-control" type="text" placeholder="Name*">
</div>
<div class="form-group">
<input class="form-control" type="email" placeholder="Email*">
</div>
<div class="form-group">
<input class="form-control" type="tel" placeholder="Phone number*">
</div>
<div class="form-group">
<select class="form-control" type="text">
<option value="">Current City</option>
<option value="">New Delhi</option>
</select>
</div>
<div class="form-group">
<label><input type="file" >Upload Your Resume.</label>
</div>
<input class="btn btn-danger" type="submit" value="Submit">


</form>
</div>

</div>
