<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div id="carrers"  class="screen" style="background: url('https://static.lookplex.com/images/1.2/imfooter/list.jpg') center no-repeat;background-size: cover">
        <div style="display: inline-block;width: 100%;height: 100%" class="mask">
            <h1  class="h1_freelisting_p" style="color: #ffffff;padding-top: 150px;font-weight: bolder;font-size: 56px"><center>List Your Business. Be More Visible.</center></h1>
            <center>
                <div style="padding-top:90px;">
                    <a id="search"  class="btn" style="width: 250px;background-color: #724c98;color: #ffffff"  href="#/freelisting">GET LISTED FOR FREE</a>
                </div>
            </center>

        </div>


    </div>
    <div class="container">

        <div class="row">

            <center><h2 style="padding-bottom: 30px">Indulge with Customers through Free listing</h2></center>





            <p style="color: #4c4c4c;
								font-size: 18px;
								line-height: 32px;
								padding: 0 8% 5%;
								text-align: center;">We are on a mission to revolutionize the way beauty, wellness and fitness </br>businesses like yours market and take appointments.</br></br>

                Whether you own a salon, a spa, a gym or work as a make-up artist, a dietician, a yoga trainer or </br>anyone offering beauty and wellness services, we’ll help you give customers a great experience</br> without making your life more complicated.



            </p>
        </div>
    </div>

    <div class="container" id="padd">

        <div class="bs-example">

            <div style="text-align: center">
                <div class="col-xs-2" style="border: 1px solid darkgrey;border-radius: 5px;height: 220px">
                    <p style="text-align: center;margin-top: 10px"><span style="font-weight: bolder">WE'RE HERE TO HELP.</span></br></br>
                        We are a fast growing online beauty, wellness and fitness marketplace with a mission to help you reach more clients and help your customers get the best of your services.
                    </p>
                </div>
                <div class="col-xs-3"></div>
                <div class="col-xs-2" style="border: 1px solid darkgrey;border-radius: 5px;height: 220px">
                    <p style=" margin-top: 10px"><span style="font-weight: bolder">HOW WE DO IT?</span></br></br>
                        After you list your business on LookPlex, we’ll create a venue page for your business, thus boosting your online presence and giving you the option to promote your business and take appointments online from your customers.
                    </p>
                </div>
                <div class="col-xs-3"></div>
                <div class="col-xs-2" style="border: 1px solid darkgrey;border-radius: 5px;height: 220px">
                    <p style=" margin-top: 10px"><span style="font-weight: bolder">WHY BE ON LOOKPLEX?</span></br></br>
                        You order food online, you rent accommodations online and now millions of people are looking to book beauty, wellness and fitness services online. Let them book their next makeover online with you.
                </div>
            </div>


        </div>
    </div>
    </br>




    <div  id="rcorners3">
        <div class="container">
            <div class="row"><center>
                <div class="col-sm-12"><h1 style="font-weight:bold;color:white;">WHAT YOU NEED TO DO?</h1> </div>
            </center>
            </div>

        </div></br>

        <div class="container" style="text-align: center;padding-left: 200px">
            <div>


                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2" style="padding: 0px">

                            <div>
                                <img src="https://static.lookplex.com/images/1.2/imfooter/listing/one.png" height="115px" alt="Lookplex" />

                                <h6> List your business </br>for free on LookPlex.</h6>

                            </div>

                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2" style="padding: 0px">
                            <div><img src="https://static.lookplex.com/images/1.2/imfooter/listing/two.jpg" height="115px" alt="Lookplex" />

                                <h6>We will create your </br>venue page after verifying</br>the
                                    details with you.</h6>

                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2" style="padding: 0px">
                            <div>
                                <img src="https://static.lookplex.com/images/1.2/imfooter/listing/three.png" height="115px" alt="Lookplex" />

                                <h6>Promote your business</br>
                                    & start taking appointments </br>from customers.</h6>

                            </div>
                        </div>
                    </div>





                </div>


                <div class="col-sm-1"></div>

            </div>
        </div>
        <center>
            <div style="padding-top:90px;">
                <a id="search"  class="btn" style="width: 250px;background-color: #724c98;color: #ffffff"  href="#/freelisting">GET LISTED FOR FREE</a>
            </div>
        </center>
    </div>
    </br>






    </br></br></br></br>




</div>
</div>
</div>

</body>
</html>
