<script type="text/template" id="home-template">
    <div class="jumbotron home-bg">
        <div class="container-fluid mask">
            <div class="wrapper">

                <div class="tag-line"><h1>LETS LOOK NEW TODAY</h1>
                    <small>Salon <i>.</i> Spa <i>.</i> Gym <i>.</i> Makeup Artists <i>.</i> Slimming & Cosmetology <i>.</i> Dietitian <i>.</i>Tattoo <i>.</i> Piercing <i>.</i> Nail Art <i>.</i> Mehendi</small></div>
                <form class="form-inline search-bar" method="post" autocomplete="off">
                    <div class="form-group"><i class="fa marker"></i><input type="text" data-val="" class="form-control  no-rb" value="" name="location" placeholder="Search by city, landmark, colony"><i class="fa fa-circle-o-notch fa-spin search-bar-spinner"></i>
                        <div class="list-group location-suggestion" ></div>
                    </div><div class="form-group"><input type="text" class="form-control  no-lb"  value="" name="service" placeholder="Select your service">
                    <div class="list-group categories-list">
                        <div class="list-group-item" data-catID="1" style="border: none">Spa</div>
                        <div class="list-group-item" data-catID="2" style="border: none">Salon</div>
                        <div class="list-group-item" data-catID="3" style="border: none">Gym</div>
                        <div class="list-group-item" data-catID="8" style="border: none">Makeup Artists</div>
                        <div class="list-group-item" data-catID="6" style="border: none">Slimming & Cosmetology</div>
                        <div class="list-group-item" data-catID="9" style="border: none">Dietitians & Nutritionists</div>
                        <div class="list-group-item" data-catID="14" style="border: none">Tattoo & Piercing</div>
                        <div class="list-group-item" data-catID="10" style="border: none">Yoga & Aerobics</div>
                        <div class="list-group-item" data-catID="11" style="border: none">Nail Art</div>
                        <div class="list-group-item" data-catID="13" style="border: none">Mehendi</div>
                    </div>
                </div><a href="#/stores" id="search" class="btn" tabIndex="-1"><i class="fa search-icon"></i>Search</a>
                </form>
            </div>
        </div>
    </div>
    <div class="wrapper home-inner" style="background-color: transparent">
        <div class="slide-holder">
            <div class="col-md-12" id="page-1-sponsored">
                <h3 class="heading-title">
                    <span class="text-dash">&#8212;</span>
                    <span class="heading-value dark-gray"> &nbsp; COME ONE, COME ALL &nbsp; </span>
                    <span class="text-dash">&#8212;</span>
                </h3>
                <h5 class="subheading-title">
                    Experience the craft of extraordinary expertise in beauty, wellness and fitness world.
                </h5>
                <div class="row buzzworthy-row">
                                <div class="col-md-3" style="display: inline-block;padding: 0;">
                                    <div class="buzzworthy" style="background: url(https://pt.lookplex.com/GY5C4UD2MRU8WPF2WYX61M8TRP_small) center;background-size: cover;">
                                        <a class="sponsor" href="#/stores/profile/South Extension Part 1, Delhi-DE5Y4CYQUS&Salon-2,4,5&Toni & Guy-158-Z78I2ZE66Q">

                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3" style="display: inline-block;padding: 0">
                                    <div class="buzzworthy" style="background:  url(https://pt.lookplex.com/L1C1BUWPONSAQ56O8KDO75ALXL_small) center;background-size: cover;">
                                        <a class="sponsor" href="#/stores/profile/South Extension Part 1, Delhi-DE5Y4CYQUS&Salon-2,4,5&Guneet Virdi-1284-0PNTCN3B2Y">

                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3" style="display: inline-block;padding: 0">
                                    <div class="buzzworthy" style="background:  url(https://pt.lookplex.com/PA17RDSSCWB8T9XM4OOE6JECVG_small) center;background-size: cover">
                                        <a class="sponsor" href="#/stores/profile/Rajouri Garden, Delhi-O6PXKO40XL&Salon-2,4,5&Affinity Salon-384-C44WLJ2S1L">

                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3" style="display: inline-block;padding: 0">
                                    <div class="buzzworthy" style="background:  url(https://pt.lookplex.com/HSRMK073MZ2QUS0FWSNZI06GXK_small) center;background-size: cover">
                                        <a class="sponsor" href="#/stores/profile/Indirapuram, Ghaziabad-SDVKQI5NCO&Salon-2,4,5&Modern Affinity Unisex Saloon-1193-L7DTSISC15">

                                        </a>
                                    </div>
                                </div>
                 </div>
            </div>

                <h3 class="heading-title">
                    <span class="text-dash">&#8212;</span>
                    <span class="heading-value dark-gray"> &nbsp; HANDPICKED FOR YOU &nbsp; </span>
                    <span class="text-dash">&#8212;</span>
                </h3>
                <h5 class="subheading-title">
                    <span>We pioneer in art profession. You'll just love to get pampered by us.</span>
                </h5>

            <div class="row collection-row" style="margin-top: 20px">
                <div class="col-md-8">
                    <a href="#/stores/services/delhi NCR-ARTUIKJHGT-1731-salon-2" class="salon mask rectangle-img-first"><div class="collction-wider mask"><div class="wider-head">Cut above the rest</div><div class="sub-text">Salon</div>
                    </div>
                    </a>
                </div>
                <div class="col-md-4"><a href="#/stores/services/delhi NCR-ARTUIKJHGT-1731-spa-1" class="spa mask square-img-first"><div class="collction-short mask"><div class="short-head">Time waits here</div><div class="sub-text">Spa</div></div></a></div>
            </div>
            <div class="row collection-row">
                <div class="col-md-4"><a href="#/stores/services/delhi NCR-ARTUIKJHGT-1731-makeup artists-8" class="square-img-first mask makeup"><div class="collction-short mask"><div class="short-head">The Eye Candy</div><div class="sub-text">Makeup Artists</div></div></a></div>
                <div class="col-md-4"><a href="#/stores/services/delhi NCR-ARTUIKJHGT-1731-slimming & cosmetology-7" class="square-img-first mask slimming"><div class="collction-short mask"><div class="short-head">Your look has come</div><div class="sub-text">Slimming & Cosmetology</div></div></a></div>
                <div class="col-md-4"><a href="#/stores/services/delhi NCR-ARTUIKJHGT-1731-dieticians & nutritionists-9" class="square-img-first mask dietician"><div class="collction-short mask"><div class="short-head">Eat Right Look Bright</div><div class="sub-text">Dieticians & Nutritionists</div></div></a></div>
            </div>
            <div class="row collection-row">
                <div class="col-md-4"><a href="#/stores/services/delhi NCR-ARTUIKJHGT-1731-nail art-11" class="nail mask square-img"><div class="collction-short mask"><div class="short-head">Cult in the making</div><div class="sub-text">Nail Art</div></div></a></div>
                <div class="col-md-8"><a href="#/stores/services/delhi NCR-ARTUIKJHGT-1731-gym-3" class="gym mask rectangle-img"><div class="collction-wider mask"><div class="wider-head">Shape Up, Build Up</div><div class="sub-text">Gym</div></div></a></div>
            </div>
            <div class="row collection-row" style="padding-bottom: 0px">
                <div class="col-md-4"><a href="#/stores/services/delhi NCR-ARTUIKJHGT-1731-tattoo & piercing-14" class="square-img mask tattoo"><div class="collction-short mask"><div class="short-head">Art thy Body</div><div class="sub-text">Tattoo & Piercing</div></div></a></div>
                <div class="col-md-4"><a href="#/stores/services/delhi NCR-ARTUIKJHGT-1731-yoga & aerobics-10" class="square-img mask yoga"><div class="collction-short mask"><div class="short-head">Fitness with Peace</div><div class="sub-text">Yoga & Aerobics</div></div></a></div>
                <div class="col-md-4"><a href="#/stores/services/delhi NCR-ARTUIKJHGT-1731-mehendi-13" class="square-img mask mehendi"><div class="collction-short mask"><div class="short-head">The classy traditional</div><div class="sub-text">Mehendi</div></div></a></div>
            </div>
        </div>
    </div>
</script>
