<script type="text/template" id="home-ribbon">

    <div class="home-inner">
        <div class="title-town" style="height: 180px;">
            <div class="wrapper" style="height: 25px;min-height: 0px;background-color: #f2f3f4;box-shadow: 0 2px 3px rgba(0, 0, 0, 0.26);overflow: hidden"></div>
            <h3 class="heading-title">
                <span class="text-dash" style="color: #ffffff">&#8212;</span>
                <span class="heading-value" style="color: #ffffff"> &nbsp; POPULAR IN TOWN &nbsp; </span>
                <span class="text-dash" style="color: #ffffff">&#8212;</span>
            </h3>
            <h5 class="subheading-title" style="color: #ffffff">
                A collection of establishments offering world class services in your neighbourhood.
            </h5>
            <div class="wrapper" style="height: 25px;min-height: 0px;background-color: #f2f3f4;margin-top: 50px;height: 30px"></div>
        </div>
    </div>

</script>
