<script type="text/template" id="home-bot-template">
    <div class="wrapper home-inner" style="background-color: transparent">
        <div class="slide-holder" style="margin-top: 0;padding-bottom: 10px">
            <div class="city">
                <a href="#/stores/cities/noida-WBHJKLOUTD-1739-salon-2,4,5">
                    <div class="col-md-4 mask" style="height: 160px;width: 320px;margin: 15px;background-image: url('https://static.lookplex.com/images/1.2/city.jpg'); background-position: 322px 327px">
                        <div class="mask city0" style="display: inline-table"><div class="short-head" style="margin:67px;font-size: 20px;font-weight: bolder">Noida</div></div>
                    </div>
                </a>
                <a href="#/stores/cities/north delhi-HJUTKOLEKI-1732-salon-2,4,5">
                    <div class="col-md-4 mask" style="height: 160px;width: 320px;margin: 15px;background-image: url('https://static.lookplex.com/images/1.2/city.jpg'); background-position: 0 164px">
                        <div class="mask city0" style="display: inline-table"><div class="short-head" style="margin:67px;font-size: 20px;font-weight: bolder">North Delhi</div></div>
                    </div>
                </a>
                <a href="#/stores/cities/ghaziabad-WERTGVFDSC-1736-salon-2,4,5">
                    <div class="col-md-4 mask" style="height: 160px;width: 320px;margin: 15px;background-image: url('https://static.lookplex.com/images/1.2/city.jpg'); background-position: 0px 327px">
                        <div class="mask city0" style="display: inline-table"><div class="short-head" style="margin:67px;font-size: 20px;font-weight: bolder">Ghaziabad</div></div>
                    </div>
                </a>
                <a href="#/stores/cities/west delhi-YTUIHGENDT-1734-salon-2,4,5">
                    <div class="col-md-4 mask" style="height: 160px;width: 320px;margin: 15px;background-image: url('https://static.lookplex.com/images/1.2/city.jpg'); background-position: 320px 165px">
                        <div class="mask city0" style="display: inline-table"><div class="short-head" style="margin:67px;font-size: 20px;font-weight: bolder">West Delhi</div></div>
                    </div>
                </a>
                <a href="#/stores/cities/central delhi-ERTHNKLOIU-1738-salon-2,4,5">
                    <div class="col-md-4 mask" style="height: 160px;width: 320px;margin: 15px;background-image: url('https://static.lookplex.com/images/1.2/city.jpg'); background-position: 0 0">
                        <div class="mask city0" style="display: inline-table"><div class="short-head" style="margin:67px;font-size: 20px;font-weight: bolder">Central Delhi</div></div>
                    </div>
                </a>
                <a href="#/stores/cities/east delhi-EDCFRTGBFD-1735-salon-2,4,5">
                    <div class="col-md-4 mask" style="height: 160px;width: 320px;margin: 15px;background-image: url('https://static.lookplex.com/images/1.2/city.jpg'); background-position: 644px 0px">
                        <div class="mask city0" style="display: inline-table"><div class="short-head" style="margin:67px;font-size: 20px;font-weight: bolder">East Delhi</div></div>
                    </div>
                </a>
                <a href="#/stores/cities/gurgaon-WERTHUKUND-1740-salon-2,4,5">
                    <div class="col-md-4 mask" style="height: 160px;width: 320px;margin: 15px;background-image: url('https://static.lookplex.com/images/1.2/city.jpg'); background-position: 643px 328px">
                        <div class="mask city0" style="display: inline-table"><div class="short-head" style="margin:67px;font-size: 20px;font-weight: bolder">Gurgaon</div></div>
                    </div>
                </a>
                <a href="#/stores/cities/south delhi-HUILOPMNDG-1733-salon-2,4,5">
                    <div class="col-md-4 mask" style="height: 160px;width: 320px;margin: 15px;background-image: url('https://static.lookplex.com/images/1.2/city.jpg'); background-position: 644px 165px">
                        <div class="mask city0" style="display: inline-table"><div class="short-head" style="margin:67px;font-size: 20px;font-weight: bolder">South Delhi</div></div>
                    </div>
                </a>
                <a href="#/stores/cities/faridabad-WERBHTJKLY-1737-salon-2,4,5">
                    <div class="col-md-4 mask" style="height: 160px;width: 320px; margin: 15px;background-image: url('https://static.lookplex.com/images/1.2/city.jpg'); background-position: 322px 0px">
                        <div class="mask city0" style="display: inline-table"><div class="short-head" style="margin:67px;font-size: 20px;font-weight: bolder">Faridabad</div></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</script>
