<div class="container-fluid">
    <div id="carrers"  class="screen">
        <div style="position:absolute;padding-left:522px;padding-top:287px;">
            <a id="search1"  class="btn"  href="#">GET LISTED FOR FREE</a>
        </div>
        <div class="wrapper ">


        </div>

    </div>
    <div class="container">

        <div class="row">
            <h1  class="h1_freelisting">Indulge with Customers through Free listing</h1>
            <h1  class="h1_freelisting_p">List Your Business. Be More Visible.</h1>
            <p style="color: #4c4c4c;
								font-size: 18px;
								line-height: 32px;
								padding: 0 8% 5%;
								text-align: center;">We are on a mission to revolutionize the way beauty, wellness and fitness </br>businesses like yours market and take appointments.</br></br>
                Whether you own a salon, a spa, a gym or work as a make-up artist, a dietician, a yoga trainer or </br>anyone offering beauty and wellness services, we’ll help you give customers a great experience</br> without making your life more complicated.
            </p>
        </div>
    </div>
    <div class="container" id="padd">
        <div class="bs-example">

            <div class="row">
                <div class="col-xs-4">
                    <p id="rcornecrs2"><span  class="we_help"  >WE'RE HERE TO HELP.</span></br></br>
                        We are a fast growing online beauty, wellness and fitness marketplace with a mission to help you reach more clients and help your customers get the best of your services.
                    </p>
                </div>
                <div class="col-xs-4">
                    <p id="1rcorners2"><span   class="we_it"  >HOW WE DO IT?</span></br></br>
                        After you list your business on LookPlex, we’ll create a venue page for your business, thus boosting your online presence and giving you the option to promote your business and take appointments online from your customers.
                    </p>
                </div>
                <div class="col-xs-4">
                    <p id="1ercorners2"><span class="why_on" >WHY BE ON LOOKPLEX?</span></br></br>
                        You order food online, you rent accommodations online and now millions of people are looking to book beauty, wellness and fitness services online. Let them book their next makeover online with you.</p>
                </div>
            </div>


        </div>
    </div>
    </br>
    <div  id="rcorners3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"><h1 style="padding-left:336px; font-weight:bold;color:white;">WHAT YOU NEED TO DO?</h1> </div>
            </div>
            <!--<image src="images/Line_new.png" align="middle" style="margin:-7px 0px 20px 298px;" class="transparents">-->
        </div></br>

        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4">

                                <div class="image">
                                    <img src="images/Icon1_Lookplex.png" height="115px" alt="Lookplex" />

                                    <h2 class="hoo">&nbsp; List your business </br>for free on LookPlex.</h2>

                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="image1"><img src="images/Icon2_Lookplex.jpg" height="115px" alt="Lookplex" />

                                    <h2 class="hoo1">&nbsp; &nbsp; &nbsp;We will create your </br>venue page after verifying</br> &nbsp; &nbsp; &nbsp;the
                                        details with you.</h2>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="image2">
                                    <img src="images/Icon3_Lookplex.png" height="115px" alt="Lookplex" />

                                    <h2 class="hoo2">&nbsp;&nbsp;&nbsp;Promote your business</br>
                                        & start taking appointments </br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from customers.</h2>

                                </div>
                            </div>
                        </div>
                    </div>




                </div>


                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
    </br>


    <div class="container">
        <div class="row">
            <div class="col-xs4"></div>
            <div class="col-xs4"  style="position:absolute;padding-left:429px;padding-top:121px">

                <a id="search" class="btn" tabindex="-1" href="#">GET LISTED FOR FREE</a>

            </div>
            <div class="col-xs4"></div>
        </div>
    </div>
</div>
