<script type="text/template" id="user-bookmarks">
    <h4>Bookmarks - 2</h4>
    <h5 style="color: #000000"><%=JSON.stringify(data)%></h5>
    <div class="bookmarked-item">
        <a href="#" class="small-thumbnail"><img src=""></a>

        <span class="item-rating pull-right" ><h5>4.3</h5></span>
        <button class="btn btn-default bookmark-button pull-right"><i class="fa fa-bookmark-o" ></i></button>

        <div class="bookmarked-item-detail">

            <a href="#"><h4>Spa Hibiscus</h4></a>
            <a href="#"><small>Aurangabad, Somewhere</small></a>
        </div>
    </div>

    <div class="bookmarked-item">
        <a href="#" class="small-thumbnail"><img src="images/assets/affinity.jpg"></a>

        <span class="item-rating pull-right" ><h5>4.4</h5></span>
        <button class="btn btn-default bookmark-button pull-right"><i class="fa fa-bookmark-o" ></i></button>

        <div class="bookmarked-item-detail">
            <a href="#"><h4>Habib Looks</h4></a>
            <a href="#"><small>Noida, Somewhere</small></a>
        </div>
    </div>
</script>
