<script type="text/template" id="user-journey">
<h4>My Journey</h4>
<h5 style="color: #000000"><%=JSON.stringify(data)%></h5>
<div class="timeline-item first">

    <div class="timeline-left-bar">
        <span class="timeline-icon"> <i class="fa fa-bullhorn"></i></span>
        <span class="timeline-line"></span>
    </div>
    <div class="review-item-details">
        <a href="#"><h5>Spa Hibiscus</h5></a>
        <a href="#"><small>Greater Noida</small></a>
        <p><strong>Rated</strong> <span>4.4</span> Hola You have written your 1st review. Write More reviews.<br>Explore more and more ....</p>
        <div class="comment-menu">
            <a href="#" title="Edit"><i class="fa fa-heart-o"> Like</i></a>
            <a href="#" title="Delete"><i class="fa fa-comment-o">Comment</i></a>
        </div>
        <div class="comment-menu pull-right">
            <a href="#" title="Edit"><i class="fa fa-edit"> Edit</i></a>
            <a href="#" title="Delete"><i class="fa fa-remove">Remove</i></a>
        </div>

    </div>
</div>
<div class="timeline-item start">
    <div class="timeline-left-bar">
        <span class="timeline-icon"> <i class="fa fa-flag-o"></i></span>
        <span class="timeline-line"></span>
    </div>
    <div class="timeline-item-details">
        <h5>Started using LookPlex</h5>
        <a><small>Its been 4 days :)</small></a>
    </div>
</div>
    </script>