<script type="text/template" id="user-profile-template">
            <div class="profile-holder">
                <div class="col-xs-12 profile-left-column">
                    <div class="user-profile-header" style="color: #000">
                        <img class="img-circle" src="<%=$user.image%>" style="min-height: 100px;min-width: 100px">
                        <h3><%=$user.displayName%></h3>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="profile-content">
                        <h4><b>PROFILE INFORMATION</b></h4>
                        <form class="form profile-info">
                            <div class="form-group">
                                <label>YOUR FULL NAME *</label>
                                <input class="form-control" type="text" value="<%=$user.displayName%>" disabled="disabled">
                            </div>

                            <div class="form-group">
                                <label>ARE YOU A GUY OR A GIRL?</label>
                                <select class="form-control">
                                    <option>Guy</option>
                                    <option>Girl</option>
                                    <option>I'd rather not say.</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>WHERE DO YOU LIVE?</label>
                                <select class="form-control">
                                    <option>Delhi</option>
                                    <option>Gurgaon</option>
                                    <option>Noida</option>
                                    <option>Gazhiabad</option>
                                    <option>Faridabad</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>EMAIL ADDRESS*</label>
                                <input class="form-control" type="email">
                            </div>

                            <div class="form-group">
                                <label>MOBILE NUMBER*</label>
                                <input class="form-control" type="tel">
                            </div>


                        </form>
                    </div>
                </div>
            </div>
</script>

