<script type="text/template" id="user-reviews">
    <h4>Dependar Goyal's Sister's Review</h4>
    <h5 style="color: #000000"><%=JSON.stringify(data)%></h5>
    <div class="timeline-item review">

        <div class="review-item-details">
            <a href="#" class="small-thumbnail"><img src=""></a>
            <a href="#"><h5>Spa Hibiscus</h5></a>
            <a href="#"><small>Greater Noida</small></a>
            <p><strong>Rated</strong> <span>4.4</span> Hola You have written your 1st review. Write More reviews.<br>Explore More and more and more ....</p>
            <div class="comment-menu">
                <a href="#" title="Edit"><i class="fa fa-heart-o"> &nbsp;Like</i></a>
                <a href="#" title="Delete"><i class="fa fa-comment-o">&nbsp;Comment</i></a>
            </div>
            <div class="comment-menu pull-right">
                <a href="#" title="Edit"><i class="fa fa-edit"> &nbsp;Edit</i></a>
                <a href="#" title="Delete"><i class="fa fa-remove">&nbsp;Remove</i></a>
            </div>

        </div>
    </div>
</script>